#tabs {
    margin-top: 20px;
}

.zodiacList {
    margin: 0 auto;
    width: 780px;
    height: 800px;
}

.items {
    float: left;
    width: 168px;
    height: 240px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #acc6e9;
    background: #e8f5fe;
}

.item_title {
    height: 24px;
    line-height: 24px;
    background: #afc6e9;
    margin-top: 0px;
}

.items img {
    position: relative;
    top: -18px;
    left: 0px;
}

#loader {
    height: 24px;
    text-align: center;
}

.clear {
    clear: both;
}

.zodiacColour {
    height: 300px;
}

.colorSelecter,
.nameColourList,
.nameColourItem {
    display: inline-block;
}

.colorSelecter {
    border: 1px solid #c5c5c5;
}

.nameColourList {
    position: relative;
    right: -500px;
    top: -140px;
    margin-top: -60px;
    max-width: 500px;
}

.nameColourItem {
    width: 150px;
    margin-top: 10px;
}

.zodiacColourWatch {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#red,
#green,
#blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    margin-right: 10px;
    background-image: none;
}

#submitColor{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}